/* body {
    background-color: #222;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes color {
    0% {
      background-color: red;
    }
    25% {
      background-color: orange
    }
    50% {
      background-color: yellow;
    }
    75% {
        background-color: green;
      }
    100% {
      background-color: lightblue;
    }
    100% {
        background-color: blue;
    }
    100% {
        background-color: purple;
    }
  } */

.ui.page.modals.dimmer {
  z-index: 2000;
}

  .ui.active.modal {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 80%;
  }